* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.App {
  width: 90%;
  margin: 10% 0;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.App .operation {
  width: 100%;
}

.App .operation .Enter {
  text-align: right;
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  color: #fff;
  padding-right: 1%;
  background-color: rgb(133, 134, 146);
  border: 0.1rem solid rgb(209, 209, 209);
}

.App .maths {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 4rem 4rem 4rem 4rem 4rem;
}

.App .maths .cero {
  grid-column: 1/3;
}

.App .maths .ac,
.App .maths .plusminus,
.App .maths .percentage,
.App .maths .seven,
.App .maths .eight,
.App .maths .nine,
.App .maths .four,
.App .maths .five,
.App .maths .six,
.App .maths .one,
.App .maths .two,
.App .maths .three,
.App .maths .cero,
.App .maths .dot {
  background-color: rgb(224, 224, 224);
  border: 0.1rem solid rgb(209, 209, 209);
}

.App .maths .divide,
.App .maths .times,
.App .maths .minus,
.App .maths .plus,
.App .maths .equals {
  background-color: rgb(245, 145, 62);
  border: 0.1rem solid rgb(209, 209, 209);
}
